In [1]:
# HIIIIIII

1. NUMERIC --- INT,FLOAT,COMPLEX
2. STRING - STR
3. LIST
TUPLE
DICT
SETS

In [3]:
x=10

In [4]:
x=1.34

In [5]:
x="imran"

In [6]:
x=['hi',4,3.14]

In [7]:
y={'name':'imran'}

In [8]:
h=(1,2,3,5)

In [9]:
type(y)

dict

In [10]:
x=input()

gfdfgs

In [10]:
x

'"hi"'

In [12]:
y=input()

jjj

In [13]:
w=input("enter your name")

enter your namegfhsgsh

In [14]:
w

'gfhsgsh'

In [15]:
print("hi")

hi

In [15]:
x=input("enter your name")
print(x)

enter your name pwskills

pwskills

In [16]:
y=input("enter your age")
print("my age is " + y)

enter your age 67

my age is 67

In [17]:
x=10
y=30
print(x+y)

40

In [19]:
b =int(input("enter first number"))
c = int(input("enter second number"))
print(b+c)

enter first number 8
enter second number 8

16

In [21]:
x=int(input("enter any number"))
print(x)

enter any number 1

1

In [22]:
print("pwskills")

pwskills

In [24]:
x="hi"
y="pwskills"

## x and y are placeholders
print(f"{x} ok  {y}")

hi ok  pwskills

In [25]:
print("pw")

pw

In [26]:
print("5")

5

In [16]:
print("{} and {} and {} ".format("pw","skills","ineuron"))

pw and skills and ineuron

In [17]:
print("{2} and {0} and {1} ".format("pw","skills","ineuron"))

ineuron and pw and skills

In [31]:
print("{2} and {0} and {2} ".format("pw","skills","ineuron"))

ineuron and pw and ineuron

In [18]:
print('Hii!!
$$Howareyou??
10*10 = 100
(12 > 10) and True
I am here to learn "python'
     )

SyntaxError: EOL while scanning string literal (<ipython-input-18-65d76c679bb6>, line 1)

In [32]:
print("""89074562
Hii!!
$$Howareyou??
10*10 = 100
(12 > 10) and True
I am here to learn "python
""")

89074562
Hii!!
$$Howareyou??
10*10 = 100
(12 > 10) and True
I am here to learn "python

In [33]:
print("""$
$ $ 
$ $ $
$ $ $ $
$ $ $ $ $
""")

$
$ $
$ $ $
$ $ $ $
$ $ $ $ $

In [34]:
x=input('enter the string')
y=x
z="!" + x + "!"
print(z)

enter the string imran

!imran!

In [19]:
a=10
b=23

In [20]:
a+b

33

In [21]:

b-a

13

In [22]:
a * b

230

In [23]:
b/a

2.3

In [28]:
b//a # modulus

1

In [24]:
b%a # remainder

3

In [25]:
a =10

In [26]:
b=10

In [27]:
a==b

True

In [46]:
a is b # identity operator
# check if it pointing to same memory location

True

In [48]:
a = 20

In [49]:
b = 30

In [50]:
a is b

False

In [51]:
a == b

False

In [29]:
a = '1'
b = 1

In [30]:
a == b # checking value and type as well
# checking equality of operator

False

In [52]:
id(a)

139719936869200

In [53]:
id(b)

139719936869520

In [54]:
a is b

False

In [55]:
 a!= b

True

In [33]:
a = [1,2,3]

In [34]:
b = [1,2,3]

In [35]:
a == b

True

In [36]:
a is b

False

In [37]:
b = a.copy()

In [38]:
a is b

False

In [39]:
id(a)

1933839101064

In [40]:
id(b)

1933839111304

In [41]:
a=[1,2,3]

In [42]:
b=a

In [43]:
a is b

True

In [65]:
a == b

True

In [70]:
x = int(input("Enter an integer: "))
y=3**35//x
print(y)

Enter an integer:  10

5003154509899970

In [44]:
2**2

4

In [45]:
a = 10

In [46]:
b=20

In [47]:
a > b

False

In [48]:
a < b

True

In [76]:
5%3

2

In [75]:
5%3

2

In [49]:
a = 10

In [50]:
b = 4

In [51]:
bin(a)

'0b1010'

In [52]:
bin(b)

'0b100'

In [53]:
a & b 
# and operator

0

In [54]:
a and b

4

In [82]:
a | b 
# or

14

In [85]:
a

10

In [86]:
~a

-11

In [55]:
m = 10
~m

-11

In [87]:
a ^ b #XOR

14

In [88]:
a = 10

In [89]:
b = 4

In [90]:
bin(a)

'0b1010'

In [91]:
bin(b)

'0b100'

In [92]:
a ^ b

14

In [ ]:
1010
0100
-----
1110

In [93]:
a = 10

In [94]:
a >> 1

5

In [95]:
a = 10

In [96]:
a << 1

20

In [99]:
a = 10

In [100]:
~a

-11

In [56]:
a= 10

In [57]:
a = a+ 1

In [58]:
a

11

In [59]:
a+=

SyntaxError: invalid syntax (<ipython-input-59-10ec5c82e2cd>, line 1)

In [60]:
a = a+ 1

In [65]:
a= 10
b=10

In [66]:
a+=3
b*=5

In [67]:
b

50

In [68]:
a

13

In [ ]:
a = a+3