In [1]:
# 16th sep 2023: Python conditional statement loops

In [5]:
a = 500
price = 450
if price<= 500:
 #    print('buy a shirt')
    pas

In [9]:
a = 500
price = 850

if price<= 500:
    print('buy a shirt')

In [10]:
a = 500
price = 850

if price<= 500:
    print('buy a shirt')
else:
    print("don't buy")

don't buy

In [19]:
sum = 500
shirt_price = 200
pant_price = 500
coat_price = 800

if True:
    print('this is a testing block')

if coat_price<= sum:
    print('buy a coat')
elif pant_price< sum:
    print('buy a pant')
elif shirt_price<sum:
    print('buy a shirt')
else:
    print("don't buy")

this is a testing block
buy a shirt

#### Nested Ifs

In [1]:
sum = 500
shirt_price = 200
pant_price = 500
coat_price = 800
my_size = 'L'
size_store = ['L','S']
my_color = 'W'
shirt_color = ['R','B','W']


if coat_price<= sum:
    print('buy a coat')
elif pant_price< sum:
    print('buy a pant')
elif shirt_price<sum:
    print('yes it is available in my budget')
    if my_size in size_store:
        print('can buy a shirt')
        if my_color in shirt_color:
            print('you can finally buy the shirt')
        else:
            print("don't have desired color, don't buy")
    else:
        print('size not availabe')
    
else:
    print("don't buy")

yes it is available in my budget
can buy a shirt
you can finally buy the shirt

In [5]:
course = ['DSM', 'DSA', 'JAVA', 'Big data','DA']
price = 20000

mentor = 'sudhanshu kumar'

if 'DSM' in course and price == 20000 and 'sudhanshu kumar' == mentor:
    print('yes I am doing this course')
else:
    print('my conditions do not match')

yes I am doing this course

In [9]:
course_price = 20000

if 15000<= course_price <= 20000:
    print('i will try to buy the course')
else:
    print('Its out of my budget')

i will try to buy the course

In [14]:
user_name_saved = 'ansari'
password_saved = 'aloe'

user_name = input('enter the user-nname')


if user_name == user_name_saved:
    print('correct user-name, now enter password')
    password = input('enter the password')
    if password == password_saved:
        print('password is correct')
    else:
        print('wrong password, if forgotten forget password')
        print('press 1 for re-enter, press 9 for reset')
        key = input('enter key')
        
        if key == '1':
            count = 0
            while count <= 2:
                
                password =input('enter the password')
                if password == password_saved:
                    print('correct password')
                    break
                else:
                    print('wrong password')
                    count+=1
        elif key == '9':
            password_saved = input('enter new password')
            print('new password saved')
        else:
            print('wrong keyword')
else:
    print('username is incorrect')

enter the user-nname ansari

correct user-name, now enter password

enter the password alo

wrong password, if forgotten forget password
press 1 for re-enter, press 9 for reset

enter key 1
enter the password aloe

correct password

In [13]:
user_name = "shad"
password = "shad@1234"

if user_name == input("enter your username") and  password == input("enter your password"):
    print("you have loged in succefully ")
else:
    print("enter correct username and password ")

enter your username shad
enter your password sja

enter correct username and password

In [24]:
mobile_no = 123456
otp = 1234

if mobile_no == int(input('enter your registered mo no')):
    print('yes you are a registered user')
    print('sending otp')
    if otp == int(input('enter otp that we have sent')):
        print('you have logged in successfully')
    else:
        print('otp is not correct, please try again')
else:
    print('you have not entered a valid mobile nos')

enter your registered mo no 123456

yes you are a registered user
sending otp

enter otp that we have sent 1234

you have logged in successfully

In [26]:
mobile_no = (123456, 143423, 452523, 3415543)
otp = 1234

if int(input('enter your registered mo no')) in mobile_no :
    print('yes you are a registered user')
    print('sending otp')
    if otp == int(input('enter otp that we have sent')):
        print('you have logged in successfully')
    else:
        print('otp is not correct, please try again')
else:
    print('you have not entered a valid mobile nos')

enter your registered mo no 143423

yes you are a registered user
sending otp

enter otp that we have sent 1234

you have logged in successfully

# Loops

In [27]:
l = [12,3,3,4,5,6,6]

out = []

for i in l:
    out.append(i+2)

In [28]:
out

[14, 5, 5, 6, 7, 8, 8]

In [33]:
mobile = [123456, 143423, 452523, 3415543, 23432]
stud_mo = 143423
for i in mobile:
    print(i)
    if i == stud_mo:
        print('user is registered one')

123456
143423
user is registered one
452523
3415543
23432

In [40]:
mobile = [123456, 143423, 452523, 3415543, 23432]
stud_mo = 23432
stud_details = {'mobile': 23432, 'course': ['dsa', 'dsm', 'big-data']}

for i in mobile:
    print(i)
    if i == stud_mo:
        print('user is registered one')
        if i == stud_details['mobile']:
            print('user details available in db')
            print('course access', stud_details['course'])

123456
143423
452523
3415543
23432
user is registered one
user details available in db
course access ['dsa', 'dsm', 'big-data']

In [41]:
t = (12, 3,4,5,56)

for i in t:
    print(i)

12
3
4
5
56

In [54]:
# extracting values from tuple if type of value is string
t = (12, 3,4,5,56, 'sudh','kumar')


for i in t:
    if type(i) == str:
        print(i)
    else:
        print(f'{i} not string')

12 not string
3 not string
4 not string
5 not string
56 not string
sudh
kumar

In [62]:
# extracting values from tuple if type of value is string
t = (12, 3,4,5,56, 'sudh','kumar', 2.4)
list_string = []
list_int = []
list_other_type = []

for i in t:
    if type(i) == str:
        list_string.append(i)
    elif type(i) == int:
        list_int.append(i)
    else:
        list_other_type.append(i)
    
    
print(f'string list: {list_string}')
print(f'int list: {list_int}')
print(f'other type list: {list_other_type}')

string list: ['sudh', 'kumar']
int list: [12, 3, 4, 5, 56]
other type list: [2.4]

In [63]:
#  SETs
s = {3,4,5}

for i in s:
    print(i)

3
4
5

In [64]:
d = {'name': 'shad', 'class':['big data','data analytics','data science','DSA','architecture','systems']
     ,'mobile_no':5534534, 'email':'sk@gmail.com'}

In [65]:
d

{'name': 'shad',
 'class': ['big data',
  'data analytics',
  'data science',
  'DSA',
  'architecture',
  'systems'],
 'mobile_no': 5534534,
 'email': 'sk@gmail.com'}

In [67]:
d.values()

dict_values(['shad', ['big data', 'data analytics', 'data science', 'DSA', 'architecture', 'systems'], 5534534, 'sk@gmail.com'])

In [66]:
for i in d.values():
    print(i)

shad
['big data', 'data analytics', 'data science', 'DSA', 'architecture', 'systems']
5534534
sk@gmail.com

In [68]:
for i in d.keys():
    print(i)

name
class
mobile_no
email

In [69]:
for i,j in d.items():
    print(i,j)

name shad
class ['big data', 'data analytics', 'data science', 'DSA', 'architecture', 'systems']
mobile_no 5534534
email sk@gmail.com

In [71]:
for i in d.values():
    if type(i) == list:
        print(i)

['big data', 'data analytics', 'data science', 'DSA', 'architecture', 'systems']

In [72]:
for i,j in d.items():
    if type(j) == list:
        print(i)

class

In [81]:
subject = input('enter subject name to check if it is available')
for i in d.values():
    if type(i) == list:
        if subject in i:
            print(f'{subject} available')
        else:
            print('not available')

enter subject name to check if it is available DSA

DSA available

In [82]:
for i in d.values():
    if type(i) == list:
        for j in i:
            print(j)

big data
data analytics
data science
DSA
architecture
systems