# 9th September - Imran

In [6]:
number = -2

if number > 0:
    print('positive number')
elif number == 0:
    print('zero')
else:
    print('negative number')
    
print('this always runs')

negative number
this always runs

In [7]:
for i in range(5):
    print(i)

0
1
2
3
4

In [9]:
# week of days
days=0
week=['mon','tue','wed','thu','fri','sat','sun']

while days<7:
    print("today is " + week[days])
    days +=1
    # days= days+1

today is mon
today is tue
today is wed
today is thu
today is fri
today is sat
today is sun

In [10]:
week=['mon','tue','wed','thu','fri','sat','sun']

for we in week:
    print('today is: ' + we)

today is: mon
today is: tue
today is: wed
today is: thu
today is: fri
today is: sat
today is: sun

In [11]:
## Split

In [26]:
string = 'I write code'
string

'I write code'

### SPlit

In [29]:
x = input('enter 3 word message')
list_ = x.split()
for i in list_:
    print(i)

enter 3 word message I like programming

I
like
programming

In [31]:
a, b,c = x.split()

In [32]:
print(a)
print(b)
print(c)

I
like
programming

In [34]:
a = int(input('enter 1st number'))
b = int(input('enter 2nd number'))
print(a + b)

enter 1st number 2
enter 2nd number 3

5

In [39]:
a,b = input('enter two numbers').split()

c = int(a) + int(b)

print(c)

enter two numbers 2 5

7

In [43]:
s = input('enter roll no, name, and percentage')

roll , name, percentage = s.split()

print(roll)
print(name)
print(percentage)

enter roll no, name, and percentage 55 shaad 91

55
shaad
91

In [45]:
s1 = 'A B C D E F'

print(s1.split(' ', maxsplit=4))

['A', 'B', 'C', 'D', 'E F']

In [46]:
s1 = 'HI@HI@HI@HI'

print(s1.split('@'))

['HI', 'HI', 'HI', 'HI']

In [47]:
s1 = 'HI@HI@HI@HI'

print(s1.split('@', maxsplit=2))

['HI', 'HI', 'HI@HI']

# Break

In [50]:
for letter in 'pwskills':
    if letter == 's':
        print('dont print')
        break
    else:
        print(letter)

p
w
dont print

In [53]:
for letter in 'pwskills':
    if letter == 'l':
        
        break
    else:
        print(letter)

p
w
s
k
i

In [54]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [2]:
i = 1

while i <=10:
    
    print(i)
    
    if i >= 5:
        break
    i +=1

1
2
3
4
5

In [4]:
numbers = [10, 20, 30, 40, 120, 230]

for i in numbers:
    if i > 100:
        break
    print('current number is:', i)

current number is: 10
current number is: 20
current number is: 30
current number is: 40

In [1]:
s = 'hello world'

for char in s:
    print(char, end = '\t')

    if char == ' ':
        break

h	e	l	l	o

In [3]:
s = 'hello, world'

for char in s:
    print(char, end = '\t')

    if char == ',':
        break

h	e	l	l	o	,

## Continue

In [6]:
for letter in 'pwskills':
    if letter == 'i':
        continue   # Skip that iteration
    print(letter)

p
w
s
k
l
l
s

In [10]:
s = 'hello, world'

for letter in s:
    if letter == ',':
        continue   # Skip that iteration
    print(letter)

h
e
l
l
o

w
o
r
l
d

In [16]:
for i in range(5):
    if i == 3:
        continue
    print(i)
    
# Break ----- end the loop
# Continue -- Skip the iteration and running remainning

0
1
2
4

In [18]:
# WAP to print odd numbers from 1 to 10

for i in range(1, 11):
    if i%2 == 0:   ## % gives remainder
        continue
    print(i)

1
3
5
7
9

## Pass

if during development we write a code, 

we can use pass for the code, so that we can come back to work on it

In [22]:
n = 10

if n > 10:
    pass

print('hello')

hello

In [28]:
for i in range(5):
    print('ggdf')
    pass

ggdf
ggdf
ggdf
ggdf
ggdf

In [29]:
for i in range(5):
    pass
    print('ggdf')

ggdf
ggdf
ggdf
ggdf
ggdf

# Function

In [30]:
a = 10
b = 20

print(a+b)

30

In [35]:
def add(a, b):  # def - keyword to create function
    return a+b

In [36]:
add(2, 3)

5

In [37]:
add(54, 423)

477

def function_name(arguments): 
    
    # function body
    
    return
    
# calling the function

function_name(arguments)

In [44]:
def greet():
    print('hello world')

In [45]:
greet()

hello world

In [50]:
def addtwonum():
    a = input('enter first number')
    b = input('enter second number')
    c = int(a) + int(b)
    
    print(c)

In [51]:
addtwonum()

enter first number 2
enter second number 4

6

In [52]:
addtwonum()

enter first number 66
enter second number 2

68

In [56]:
def multiplynum(x, y):
    c = str(x)*y
    print(c)

In [57]:
multiplynum(1, 4)

1111

In [59]:
def multiplynum(x, y):
    c = x*y
    print(c)

In [60]:
multiplynum(1, 4)

4

In [63]:
def introduction(name):
    print(f'hi, {name}')

In [64]:
introduction('shad')

hi, shad

In [65]:
def introduction(name1, name2):
    print(f'hi, {name1} {name2}')

In [66]:
introduction('shad', 'ansari')

hi, shad ansari

In [67]:
def absolut(a):
    if a>0:
        return a
    else:
        return -a

In [68]:
absolut(-10)

10

In [70]:
absolut(91)

91

In [74]:
def fullname(a, b):
    return a+b

In [75]:
name = fullname('pw','skills')
name

'pwskills'

In [80]:
def fullname(a, b):
    print(a+b)

In [81]:
name = fullname('pw','skills')

pwskills

In [83]:
name ## it is not returning anythin in case there is print in function

In [84]:
def fullname(a, b):
    return

In [88]:
a = fullname('p','s')
type(a) # Type is none type if there is nothing to return

NoneType

In [89]:
def calculator(a, b):
    add = a+b
    sub = a-b
    mul = a*b
    div = a/b
    return add, sub, mul, div   # returning in the form of tupe

In [93]:
m, n, o, p = calculator(10, 2)
num = calculator(1,2)

In [94]:
print(m)
print(n)
print(o)
print(p)

12
8
20
5.0

In [95]:
type(num)

tuple

In [96]:
num

(3, -1, 2, 0.5)

In [105]:
# Find area of circule

def area_circle(radius):
    return 3.14*(radius**2) # radius square

In [106]:
area_circle(10)

314.0

In [107]:
# find area of rectangle

def area_rect(a, b):
    return a*b

In [108]:
area_rect(10,20)

200

In [109]:
# input a number, create a square

In [113]:
def sq():
    a=int(input("Enter the number"))
    return a*a

In [116]:
sq()

Enter the number 12

144

5. Accept two words as input and print the two words after adding a 
space between them

In [117]:
def two(a, b):
    print(f'{a} {b}')

In [119]:
two('shad','ansari')

shad ansari

create a python program that includes a user-defined function called print_even_number().
the function should prompt the user to set a range limit before printing
all even numbers upto that limit

In [137]:
def even_num():
    limit1 = int(input('enter the first num'))
    n = int(input('enter the range'))
    for i in range(limit1, n+1):
        if i %2 == 0:
            print(i)
        else:
            pass

In [139]:
even_num()

enter the first num 4
enter the range 25

4
6
8
10
12
14
16
18
20
22
24

In [141]:
def print_even_numbers():
    a , b = input("Enter 2 numbers between which you want the even number").split()
    
    for i in range( int(a), int(b)+1):
        if i%2 == 0:
            print(i)
            
print_even_numbers()

Enter 2 numbers between which you want the even number 2 10

2
4
6
8
10

13. Accept three positive integers as input and check if they form the 
sides of a right triangle. Print YES if they form one, and NO is they do 
not. The input will have three lines, with one integer on each line. 
The output should be a single line containing one of these two 
strings: YES or NO.

In [12]:
def right_angle():
    b = int(input('enter base'))
    
    l = int(input('enter length'))
    h = int(input('enter hypote'))
            
    if (h**2) == (b**2) + (l**2):
        value = 'yes'
    else:
        value = 'no'
        
    return value


right_angle()

enter base 3
enter length 4
enter hypote 5

'yes'

In [ ]:
def checkRightTriangle(a,b,c):
    if a**2 == b**2 + c**2 or b**2 == c**2 + a**2 or c**2 == a**2 + b**2:
        print('It is a right angled triangle')
    else:
        print('It is not a right angled triangle')
a = int(input('Enter the first side of triangle : '))
b = int(input('Enter the second side of triangle : '))
c = int(input('Enter the third side of triangle : '))
checkRightTriangle(a,b,c)

17.Accept a string as input. Your task is to determine if the input string is a valid password or not. For a 
string to be a valid password, it must satisfy all the conditions given below:<br>
(1) It should have at least 8 and at most 32 characters<br>
(2) It should start with an uppercase or lowercase letter<br>
(3) It should not have any of these characters: / \ = ' "<br>
(4) It should not have spaces<br>
It could have any character that is not mentioned in the list of characters to be avoided (points 3 and 
4). Output True if the string forms a valid password and False otherwise<br>

In [21]:
string = 'shad'
string.strip()

'shad'

In [3]:
def password():
    password = input('enter password')
    special_char =  ['/', '\\', '=', "'", '"']
    
    if (8<=(len(password)) <=32) and (password.istitle()) and (password.find(' ')==-1):
        for i in password:
            if i not in special_char:
                print('password is correct')
                break
    else:
        print('password is wrong')

In [4]:
password()

enter password Shadman\

password is correct

In [ ]:
def validPassword(pwd: str):
    if 8 <= len(pwd) <= 32 and pwd[0].isalpha() and all(char not in pwd for char in [" ", "'", "/", "=", '"', '\\']):
        return True
    else:
        return False