# 10 Sept 2023

### Lambda function

In [1]:
def greet():
    message = 'hello'
    
    print('local',message)

In [2]:
greet()

local hello

In [3]:
def greet():
    message = 'hello'
    
    print('local',message)
    
print(message) # message is local function
greet()

NameError: name 'message' is not defined

In [4]:
def add():
    a = 1
    b = 20
    print(a+b)
    
print(a) # a is local variable

NameError: name 'a' is not defined

In [5]:
x= "awesome"
#global scope

def myfunc():
    x="fantastic"
    #local scope
    print("python is " + x)
    
myfunc()  # x here is fantastic 
print(x)  # x is global variable

python is fantastic
awesome

### Global variable can work inside the function

In [1]:
x=20

def add():
    
    y=30
    print("local variable y=",y)
    
    print("global variable x=", x)
    
    z= x+y
    print(z)
    
def sub():
    m = 10
    print('local variable m=',m)
    
    print('global variable x=',x)

In [2]:
add()

local variable y= 30
global variable x= 20
50

In [3]:
sub()

local variable m= 10
global variable x= 20

#### Python function arguments

In [10]:
def add_numbers(a, b):
    print('sum:', a+b)

In [11]:
add_numbers(3, 5)

sum: 8

In [12]:
def emp_name(name):
    print('my name is, ', name)

In [13]:
emp_name('shaad')

my name is,  shaad

#### Default arguments

In [14]:
def add_numbers(a = 4, b = 8):
    sum = a+b
    print('sum', sum)

In [16]:
add_numbers()

sum 12

In [23]:
add_numbers(b=99)

sum 103

In [17]:
add_numbers(50, 20)

sum 70

In [20]:
def emp_name(name = 'shadman'):
    print('my name is, ', name)

In [21]:
emp_name()

my name is,  shadman

In [22]:
emp_name('Shaad')

my name is,  Shaad

### Keyword arguments

In [ ]:
def display_info(first_name, last_name):
    print('first name: ',first_name)
    print('last name: ',last_name)

In [25]:
display_info('shad', 'ansari')

first name:  shad
last name:  ansari

In [26]:
display_info(first_name= 'shad',last_name= 'ansari')

first name:  shad
last name:  ansari

In [29]:
display_info(last_name= 'shad',first_name= 'ansari')

first name:  ansari
last name:  shad

In [31]:
def add_num(a, b):
    print('sum:', a+b)

In [32]:
add_num(a = 10, b = 30)

sum: 40

In [33]:
add_num(b = 10, a = 30)

sum: 40

#### *args and **kargs
when function don't know how many arguments function seek from user

In [38]:
def find_num(*numbers):  # * user can pass any number of numbers
    result = 0
    
    for num in numbers:
        result+=num
    print('sum ', result)

In [39]:
find_num()

sum  0

In [40]:
find_num(3, 1, 2)

sum  6

In [43]:
find_num(3, 1, 2, 4,2,6,7) # any number of values can be inputed

sum  25

In [44]:
def find_num(*numbers):  # * user can pass any number of numbers
    
    print(numbers)

In [47]:
a= find_num(1, 2,4,7)
type(a)  # why not tuple

(1, 2, 4, 7)

NoneType

In [63]:
### ** is used to pass keyword argument in the form of dictionary

In [64]:
def intro(**data):
    print('data type of argument: ',type(data))
    
    for key, value in data.items():
        print(key, value)

In [65]:
x = {'a':1, 'b':2}

In [66]:
x.items()

dict_items([('a', 1), ('b', 2)])

In [67]:
intro(first_name = 'pw', last_name = 'skills')
# first_name is key, 'pw' is value
# last_name is key, 'skills' is value

data type of argument:  <class 'dict'>
first_name pw
last_name skills

In [81]:
def simple(**x):
    print(x)

In [82]:
simple(name = 'shad', age=24, id = 23)

{'name': 'shad', 'age': 24, 'id': 23}

In [83]:
def simple(**x):
    return x

In [84]:
simple(sg = 2, hs = 7)

{'sg': 2, 'hs': 7}

In [85]:
def showkeyvalue(**y):
    print(y)

In [86]:
showkeyvalue(x = 1, y = 2, name='pgs')

{'x': 1, 'y': 2, 'name': 'pgs'}

# Lambda function

In [88]:
# Anonymous function without any name

In [89]:
# lambda arguments: expression

In [92]:
greet = lambda: print('hi world')
greet()

hi world

In [93]:
x = lambda: print('programming is fun')
x()

programming is fun

In [98]:
add_num = lambda a, b: a+b

In [99]:
add_num(2, 3)

5

In [100]:
multi = lambda a, b: a*b
multi(1,2)

2

In [102]:
a = int(input('enter first number'))
b = int(input('enter second number'))

square = lambda a, b: (a**2, b**2)
square(a,b)

enter first number 3
enter second number 6

(9, 36)

In [106]:
even_num = lambda n: print(n) for i in n if i %2==0: else: print(i)

SyntaxError: invalid syntax (741473706.py, line 1)

In [109]:
def even_odd(limit):
    for i in range(1, limit):
        if i%2 == 0:
            print('even number: ',i)
        else:
            print('odd number: ',i)

In [110]:
even_odd(5)

odd number:  1
even number:  2
odd number:  3
even number:  4

In [112]:
def even_odd(n):
    if n%2 == 0:
        print('number is even')
    else:
        print('number is odd')

In [113]:
even_odd(2)

number is even

In [114]:
even_odd(7)

number is odd

### even-odd using lambda

In [123]:
odd_even = lambda n: 'even' if n%2 ==0 else 'odd'

In [124]:
odd_even(3)

'odd'

In [125]:
odd_even(8)

'even'

In [126]:
# WAP using lambda that accepts two arguments and returns the greatest number

In [129]:
greatest_num = lambda a, b: a if a>b else b

In [130]:
greatest_num(5,7)

7

In [131]:
# WAP using lambda that accepts three arguments and returns the greatest number

In [132]:
greatest_number = lambda a, b, c: max(a,b,c)

In [134]:
greatest_number(1,2,30)

30

In [135]:
sum_three = lambda a, b, c: a+b+c

In [136]:
sum_three(3, 1, 5)

9

## lambda in Sorted function

In [151]:
# if you want to access just value of any key-value pair in a dictionary
x = {'name': 'product4', 'price': 80}

value = lambda x: x['price']
value(x)

80

In [152]:
products = [
    {'name':'product1','price':50},
    {'name':'product2','price':40},
    {'name':'product3','price':30},
    {'name':'product4','price':80}
]

# sorted()

In [153]:
sorted(products, key=lambda x: x['price'])
# output in the form a list

[{'name': 'product3', 'price': 30},
 {'name': 'product2', 'price': 40},
 {'name': 'product1', 'price': 50},
 {'name': 'product4', 'price': 80}]

In [154]:
sorted_products = sorted(products, key=lambda x: x['name'])

In [155]:
for i in sorted_products:
    print(i)

{'name': 'product1', 'price': 50}
{'name': 'product2', 'price': 40}
{'name': 'product3', 'price': 30}
{'name': 'product4', 'price': 80}

In [156]:
sorted(products, key=lambda x: x['name'], reverse= True)

[{'name': 'product4', 'price': 80},
 {'name': 'product3', 'price': 30},
 {'name': 'product2', 'price': 40},
 {'name': 'product1', 'price': 50}]

In [157]:
x = [1,4,6,2]
sorted(x)

[1, 2, 4, 6]

In [168]:
dict_ = [{'name': 'shadman', 'roll': 5}
        ,{'name': 'nikhil', 'roll': 10}
        ,{'name': 'rishabh', 'roll': 3}]

In [169]:
sorted(dict_ , key = lambda x: x['roll'])

[{'name': 'rishabh', 'roll': 3},
 {'name': 'shadman', 'roll': 5},
 {'name': 'nikhil', 'roll': 10}]

In [170]:
# wap a lambda expression that accepts a character as argument and return true if it is a vowel else false

In [176]:
string = input('enter character')

vowel = ['a','e','i','o','u']

vowel_check = lambda string: True if string in vowel else False

enter character g

In [177]:
vowel_check(string)

False

### Filter
### map
### reduce

In [4]:
vowels = ['a','e','i','o','u']

string = input('enter a string').lower()

vowels_list = [string[i] for i in range(len(string)) if string[i] in vowels]

enter a string fgsadewagd

In [5]:
vowels_list

['a', 'e', 'a']

In [1]:
language=['python','java','javascript']

In [2]:
enumerate_prime= enumerate(language)

In [3]:
enumerate_prime= enumerate(language,3)

In [4]:
list(enumerate_prime)

[(3, 'python'), (4, 'java'), (5, 'javascript')]

### List comprehension

[output | collection | Condition]

In [7]:
lst=[1,2,3,4,5,6,7,8,9,10]

In [8]:
 # New list from the existing list

In [12]:
b = [x for x in range(5) if x%2 != 0]

In [13]:
b

[1, 3]

In [14]:
a = [x for x in range(5) if x%2 ==0 ]

In [15]:
a

[0, 2, 4]

In [20]:
a = [x for x in lst if x in [3, 5]]

In [21]:
a

[3, 5]

In [22]:
list_ = []

for i in lst:
    list_.append(i)

list_

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
[x+1 for x in lst]

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

[False, False, False, False, 5, 6, 7, 8, 9, 10]

### ODD numbers

In [31]:
[x for x in lst if x%2 == 0]

[2, 4, 6, 8, 10]

In [32]:
[x for x in lst if x%2 != 0]

[1, 3, 5, 7, 9]

In [33]:
## X should be greater than 4 and even number

In [34]:
a = []

for x in lst:
    if x>4 and x%2 == 0:
        a.append(x)

In [35]:
a

[6, 8, 10]

## using list comprehension

In [37]:
[x for x in lst if x> 4 if x%2 == 0]

[6, 8, 10]

## If else in list comprehension
##### for comes after if-else in list comprehension

In [39]:
[x  if x > 4 else False for x in lst]

[False, False, False, False, 5, 6, 7, 8, 9, 10]

In [42]:
[x if x > 4 else 'less than 4' for x in lst]

['less than 4', 'less than 4', 'less than 4', 'less than 4', 5, 6, 7, 8, 9, 10]

In [48]:
a= []

for i in lst:
    if i > 4:
        a.append(i)
    else:
        a.append('less than 4')
        
a

['less than 4', 'less than 4', 'less than 4', 'less than 4', 5, 6, 7, 8, 9, 10]

In [54]:
f = ['two' if x%2 == 0 else 'three' if x%3 ==0 else 'not 2 & 3' for x in lst]

In [55]:
f

['not 2 & 3',
 'two',
 'three',
 'two',
 'not 2 & 3',
 'two',
 'not 2 & 3',
 'two',
 'three',
 'two']

In [52]:
a = []

for i in lst:
    if i%2 == 0:
        a.append('two')
    elif i%3 == 0:
        a.append('three')
    else:
        a.append('not 2 and 3')

In [53]:
a

['not 2 and 3',
 'two',
 'three',
 'two',
 'not 2 and 3',
 'two',
 'not 2 and 3',
 'two',
 'three',
 'two']